<ion-view view-title="Home">
  <ion-content class="content-wrap">
    <div class="banner">
      
    </div>
    <!--<h2 class="greeting">Good Morning</h2>-->
    <div class="row padding">
      <div class="col col-33 padding">
          <a class="food-type" href="#/app/home/Special">
              <img src="../img/special.svg" alt="">
              <h4>Today's Special</h4>
          </a>
      </div>
      <div class="col col-33 padding">
          <a class="food-type" href="#/app/home/Lunch">
              <img src="../img/lunch.svg" alt="">
              <h4>Lunch</h4>
          </a>
      </div>
      <div class="col col-33 padding">
          <a class="food-type" href="#/app/home/Dinner">
              <img src="../img/dinner.svg" alt="">
              <h4>Dinner</h4>
          </a>
      </div>
      
    </div>
    <div class="row padding">
      <div class="col col-33 padding">
          <a class="food-type" href="#/app/home/Breakfast">
              <img src="../img/breakfast.svg" alt="">
              <h4>Breakfast</h4>
          </a>
      </div>
      <div class="col col-33 padding">
          <a class="food-type" href="#/app/home/Chef">
              <img src="../img/chef.svg" alt="">
              <h4>Chef's Choice</h4>
          </a>
      </div>
      <div class="col col-33 padding">
          <a class="food-type" href="#/app/home/Cook">
              <img src="../img/cook.svg" alt="">
              <h4>Cook Some</h4>
          </a>
      </div>
      
    </div>
  </ion-content>
</ion-view>
